<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mwr.droidhg.agent"
    android:versionCode="2"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.Manifest.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_BLUETOOTH_SHARE" />
    <uses-permission android:name="android.permission.ACCESS_CELL_ID" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_DEV_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED" />
    <uses-permission android:name="android.permission.ACCESS_DRM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_PMEM_ADSP" />
    <uses-permission android:name="android.permission.ACCESS_USB" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ADD_SYSTEM_SERVICE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ENABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_DETAILED_TASKS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INSTALL_DRM" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KIES_BNR" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_MMS" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_POLICIES" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_TASKS" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.REMOTE_AUDIO_PLAYBACK" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <uses-permission android:name="android.permission.SET_KEYBOARD_LAYOUT" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SHOW_DRM_KEY_INFO" />
    <uses-permission android:name="android.permission.START_ANY_ACTIVITY" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_READ" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.UPDATE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WIFI_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CDMA_CARRIER_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MMS" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_POLICIES" />
    <uses-permission android:name="android.permission.WRITE_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_SDCARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_TASKS" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.sec.MDM_EMAIL" />
    <uses-permission android:name="android.permission.sec.MDM_HW_CONTROL" />
    <uses-permission android:name="android.permission.sec.MDM_ROAMING" />
    <uses-permission android:name="android.server.checkin.CHECKIN.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="com.android.QualcommSettings.permission.UTS_DM_CMD" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.browser.permission.PRELOAD" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.chrome.TOS_ACKED" />
    <uses-permission android:name="com.android.chrome.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.android.clipboardsaveservice.CLIPBOARDSAVESERVICE_PERMISSION" />
    <uses-permission android:name="com.android.email.ACCOUNT_CREATION_PERMISSION" />
    <uses-permission android:name="com.android.email.ACCOUNT_INTENT" />
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER_DTT" />
    <uses-permission android:name="com.android.email.permission.DEBUG" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT_DTT" />
    <uses-permission android:name="com.android.email.service.BROADCAST_DETECT" />
    <uses-permission android:name="com.android.launcher.permission.ADD_WIDGET_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.PRELOAD_WORKSPACE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.nfc.permission.NFCEE_ADMIN" />
    <uses-permission android:name="com.android.permission.HANDOVER_STATUS" />
    <uses-permission android:name="com.android.permission.WHITELIST_BLUETOOTH_DEVICE" />
    <uses-permission android:name="com.android.phone.permission.READ_CALL_SETTINGS" />
    <uses-permission android:name="com.android.phone.permission.WRITE_CALL_SETTINGS" />
    <uses-permission android:name="com.android.providers.im.permission.READ_ONLY" />
    <uses-permission android:name="com.android.samsung.rmt_exercise.permission.KEYSTRING" />
    <uses-permission android:name="com.android.samsungtest.SlateTest.SLATE_DM_CMD" />
    <uses-permission android:name="com.android.setting.permission.ALLSHARE_CAST_SERVICE" />
    <uses-permission android:name="com.android.setting.testingsettings.permission.KEYSTRING" />
    <uses-permission android:name="com.android.smspush.WAPPUSH_MANAGER_BIND" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.android.vending.INTENT_VENDING_ONLY" />
    <uses-permission android:name="com.android.vending.TOS_ACKED" />
    <uses-permission android:name="com.android.vending.billing.ADD_CREDIT_CARD" />
    <uses-permission android:name="com.android.vending.billing.BILLING_ACCOUNT_SERVICE" />
    <uses-permission android:name="com.android.vending.billing.IBillingAccountService.BIND2" />
    <uses-permission android:name="com.android.vending.billing.IN_APP_NOTIFY.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.android.vending.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="com.android.voicemail.permission.READ_WRITE_ALL_VOICEMAIL" />
    <uses-permission android:name="com.dashwire.config.launcher.SEND_HOMESCREEN_RESULT" />
    <uses-permission android:name="com.diotek.penmemo.util.PenMemoProvider.permission.READ" />
    <uses-permission android:name="com.diotek.penmemo.util.PenMemoProvider.permission.WRITE" />
    <uses-permission android:name="com.dropbox.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.apps.googlevoice.permission.AUTO_SEND" />
    <uses-permission android:name="com.google.android.apps.magazines.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.apps.maps.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.apps.maps.permission.PREFETCH" />
    <uses-permission android:name="com.google.android.apps.plus.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.google.android.ears.permission.WRITE" />
    <uses-permission android:name="com.google.android.gallery3d.permission.PICASA_STORE" />
    <uses-permission android:name="com.google.android.gm.permission.AUTO_SEND" />
    <uses-permission android:name="com.google.android.gm.permission.READ_GMAIL" />
    <uses-permission android:name="com.google.android.gm.permission.WRITE_GMAIL" />
    <uses-permission android:name="com.google.android.gms.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.googleapps.permission.ACCESS_GOOGLE_PASSWORD" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ALL_SERVICES" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.OTHER_SERVICES" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.YouTubeUser" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ah" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.cl" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.cp" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.local" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.mail" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_MAIL_SWITCH" />
    <uses-permission android:name="com.google.android.gsf.subscribedfeeds.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.gtalkservice.permission.GTALK_SERVICE" />
    <uses-permission android:name="com.google.android.gtalkservice.permission.SEND_HEARTBEAT" />
    <uses-permission android:name="com.google.android.marvin.feedback.permission.TALKBACK" />
    <uses-permission android:name="com.google.android.music.store.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.permission.BROADCAST_DATA_MESSAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.WRITE_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.settings.permission.READ_GSETTINGS" />
    <uses-permission android:name="com.google.android.providers.settings.permission.WRITE_GSETTINGS" />
    <uses-permission android:name="com.google.android.providers.talk.permission.READ_ONLY" />
    <uses-permission android:name="com.google.android.providers.talk.permission.WRITE_ONLY" />
    <uses-permission android:name="com.google.android.talk.permission.RECEIVE_XMPP" />
    <uses-permission android:name="com.google.android.videos.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.voicesearch.ACCESS_SETTINGS" />
    <uses-permission android:name="com.google.android.voicesearch.AUDIO_FILE_ACCESS" />
    <uses-permission android:name="com.google.android.voicesearch.SHORTCUTS_ACCESS" />
    <uses-permission android:name="com.google.android.xmpp.permission.BROADCAST" />
    <uses-permission android:name="com.google.android.xmpp.permission.SEND_RECEIVE" />
    <uses-permission android:name="com.google.android.xmpp.permission.XMPP_ENDPOINT_BROADCAST" />
    <uses-permission android:name="com.google.googlenav.friend.permission.OPT_IN" />
    <uses-permission android:name="com.infraware.provider.SNoteProvider.permission.READ" />
    <uses-permission android:name="com.infraware.provider.SNoteProvider.permission.WRITE" />
    <uses-permission android:name="com.osp.contentprovider.OSPContentProvider.READ_CONTENT" />
    <uses-permission android:name="com.samsung.InputEventApp.permission.UTS_DM_CMD" />
    <uses-permission android:name="com.samsung.android.permission.READ_MEMO" />
    <uses-permission android:name="com.samsung.android.permission.WRITE_MEMO" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.READ_APP_USAGE_DB" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_APP_USAGE_DB" />
    <uses-permission android:name="com.samsung.helphub.permission.GET_DATA" />
    <uses-permission android:name="com.samsung.helphub.permission.WRITE_DATA" />
    <uses-permission android:name="com.sec.android.app.DataCreate.permission.KEYSTRING" />
    <uses-permission android:name="com.sec.android.app.clockpackage.permission.READ_ALARM" />
    <uses-permission android:name="com.sec.android.app.clockpackage.permission.READ_WCCONTENT" />
    <uses-permission android:name="com.sec.android.app.clockpackage.permission.WRITE_ALARM" />
    <uses-permission android:name="com.sec.android.app.clockpackage.permission.WRITE_WCCONTENT" />
    <uses-permission android:name="com.sec.android.app.contacts.permission.RECEIVE_CONTACTS_BROADCAST" />
    <uses-permission android:name="com.sec.android.app.controlpanel.permission.EXCLUDE_MEMORY_CLEAN" />
    <uses-permission android:name="com.sec.android.app.controlpanel.permission.GET_INTENT_ACTION_AFTER_FORCESTOP" />
    <uses-permission android:name="com.sec.android.app.controlpanel.permission.HIDE_RUNNING_APP_LIST" />
    <uses-permission android:name="com.sec.android.app.controlpanel.permission.MUST_BE_SHOW_RUNNING_APP_LIST" />
    <uses-permission android:name="com.sec.android.app.controlpanel.permission.PRIVATE" />
    <uses-permission android:name="com.sec.android.app.factorymode.permission.KEYSTRING" />
    <uses-permission android:name="com.sec.android.app.fm.BROADCAST_DETECT" />
    <uses-permission android:name="com.sec.android.app.gallery3d.READ" />
    <uses-permission android:name="com.sec.android.app.gallery3d.READ_SNS" />
    <uses-permission android:name="com.sec.android.app.gallery3d.WRITE" />
    <uses-permission android:name="com.sec.android.app.gallery3d.WRITE_SNS" />
    <uses-permission android:name="com.sec.android.app.lcdtest.permission.KEYSTRING" />
    <uses-permission android:name="com.sec.android.app.minidiary.service.BROADCAST_DETECT" />
    <uses-permission android:name="com.sec.android.app.phoneutil.permission.KEYSTRING" />
    <uses-permission android:name="com.sec.android.app.selftestmode.permission.KEYSTRING" />
    <uses-permission android:name="com.sec.android.app.servicemodeapp.permission.KEYSTRING" />
    <uses-permission android:name="com.sec.android.app.sns.permission.READ_SNSDB" />
    <uses-permission android:name="com.sec.android.app.sns.permission.RECEIVE_SNS_BROADCAST" />
    <uses-permission android:name="com.sec.android.app.sns3.permission.READ_SNSDB" />
    <uses-permission android:name="com.sec.android.app.sns3.permission.READ_SNS_DB" />
    <uses-permission android:name="com.sec.android.app.sns3.permission.RECEIVE_SNS_BROADCAST" />
    <uses-permission android:name="com.sec.android.app.sns3.permission.WRITE_SNS_DB" />
    <uses-permission android:name="com.sec.android.app.sns3.sp.facebook.permission.READ_DB" />
    <uses-permission android:name="com.sec.android.app.sysscope.permission.RUN_SYSSCOPE" />
    <uses-permission android:name="com.sec.android.app.sysscope.permission.SYSSCOPE_ACCESS_SYSTEM_INFO" />
    <uses-permission android:name="com.sec.android.app.twdvfs.DVFS_BOOSTER_PERMISSION" />
    <uses-permission android:name="com.sec.android.app.voicerecorder.service.RECORDER_CALLBACK_PERMISSION" />
    <uses-permission android:name="com.sec.android.app.voicerecorder.service.RECORDER_PERMISSION" />
    <uses-permission android:name="com.sec.android.cloudagent.permission.READ" />
    <uses-permission android:name="com.sec.android.cloudagent.permission.WRITE" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.accuweather.permission.ACCU_DAEMON_ACCESS_INTENT" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.camobile.permission.CAMOBILE_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.edaily.stockclock.permission.EDAILY_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.kweather.permission.KW_DAEMON_ACCESS_INTENT" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.sinanews.permission.SINA_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.sinastock.stockclock.permission.SINA_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.sinaweather.permission.SINA_DAEMON_ACCESS_INTENT" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.yahoonews.permission.YAHOO_DAEMON_ACCESS_INTENT" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.yahoonews.permission.YAHOO_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.yahoostock.stockclock.permission.YAHOO_DAEMON_ACCESS_INTENT" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.yahoostock.stockclock.permission.YAHOO_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.daemonapp.ap.yonhapnews.permission.YONHAP_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.dualclockanalog.permission.READ_DATA" />
    <uses-permission android:name="com.sec.android.dualclockanalog.permission.WRITE_DATA" />
    <uses-permission android:name="com.sec.android.dualclockdigital.permission.READ_DATA" />
    <uses-permission android:name="com.sec.android.dualclockdigital.permission.WRITE_DATA" />
    <uses-permission android:name="com.sec.android.fotaclient.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.sec.android.permission.DSMFORWARDING" />
    <uses-permission android:name="com.sec.android.permission.DSMLAWMO" />
    <uses-permission android:name="com.sec.android.permission.DSMPROVIDER" />
    <uses-permission android:name="com.sec.android.permission.FWUPGRADE" />
    <uses-permission android:name="com.sec.android.permission.PERSONAL_MEDIA" />
    <uses-permission android:name="com.sec.android.permission.READ_CLOCK" />
    <uses-permission android:name="com.sec.android.permission.READ_MEMO" />
    <uses-permission android:name="com.sec.android.permission.WRITE_MEMO" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.sec.android.provider.logsprovider.permission.READ_LOGS" />
    <uses-permission android:name="com.sec.android.provider.logsprovider.permission.WRITE_LOGS" />
    <uses-permission android:name="com.sec.android.provider.samsungapps.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.samsungapps.permission.WRITE" />
    <uses-permission android:name="com.sec.android.provider.una.astore.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.una.astore.permission.WRITE" />
    <uses-permission android:name="com.sec.android.providers.insight.permission.READ_INSIGHT_DB" />
    <uses-permission android:name="com.sec.android.sCloudCallLogsBackupProvider.permission.READ" />
    <uses-permission android:name="com.sec.android.sCloudCallLogsBackupProvider.permission.WRITE" />
    <uses-permission android:name="com.sec.android.sCloudMMSBackupProvider.permission.READ" />
    <uses-permission android:name="com.sec.android.sCloudMMSBackupProvider.permission.WRITE" />
    <uses-permission android:name="com.sec.android.sCloudSMSBackupProvider.permission.READ" />
    <uses-permission android:name="com.sec.android.sCloudSMSBackupProvider.permission.WRITE" />
    <uses-permission android:name="com.sec.android.sCloudSettingsBackupProvider.permission.READ" />
    <uses-permission android:name="com.sec.android.sCloudSettingsBackupProvider.permission.WRITE" />
    <uses-permission android:name="com.sec.android.sCloudWallpaperBackupProvider.permission.READ" />
    <uses-permission android:name="com.sec.android.sCloudWallpaperBackupProvider.permission.WRITE" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.edaily.stockclock.permission.EDAILY_DAEMON_ACCESS_INTENT" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.edaily.stockclock.permission.EDAILY_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.hero.accuweather.permission.READ_ACCU_DATA" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.hero.accuweather.permission.WRITE_ACCU_DATA" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.sinanews.permission.SINA_DAEMON_ACCESS_INTENT" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.sinastock.stockclock.permission.SINA_DAEMON_ACCESS_INTENT" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.sinastock.stockclock.permission.SINA_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.yahoonews.permission.YAHOO_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.yahoostock.jp.stockclock.permission.YAHOO_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.yahoostock.stockclock.permission.YAHOO_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.widgetapp.ap.yonhapnews.permission.YONHAP_DAEMON_ACCESS_INTENT" />
    <uses-permission android:name="com.sec.android.widgetapp.at.yahoostock.jp.stockclock.permission.YAHOO_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.widgetapp.at.yahoostock.stockclock.permission.YAHOO_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.android.widgetapp.q1_penmemo.permission.READ" />
    <uses-permission android:name="com.sec.android.widgetapp.q1_penmemo.permission.WRITE" />
    <uses-permission android:name="com.sec.android.widgetapp.stockclock.permission.YAHOO_DAEMON_ACCESS_PROVIDER" />
    <uses-permission android:name="com.sec.chaton.TOKEN_085376204d115cdd465b103094225633cb5e9707b4c76225285750054db230f38e719dd583e31939a616bac2e957cfb50beee4ff163f8c7903b2fdc7b6ef6f421570e4f459f9ebc0ac8c6cdd91cddf5c5945ddb36713571a55d279a9a711c785ec83dbe633884bbb80117461a05777408a335c9baa94f83d5da7b2acfb161fa1" />
    <uses-permission android:name="com.sec.chaton.provider.READ_PERMISSION" />
    <uses-permission android:name="com.sec.chaton.provider.WRITE_PERMISSION" />
    <uses-permission android:name="com.sec.chaton.push.BROADCAST_PUSH_MESSAGE" />
    <uses-permission android:name="com.sec.factory.permission.ALLOWFTCLIENTCPOBIND" />
    <uses-permission android:name="com.sec.factory.permission.KEYSTRING" />
    <uses-permission android:name="com.sec.mms.action.MMS_BNR" />
    <uses-permission android:name="com.sec.modem.settings.permission.KEYSTRING" />
    <uses-permission android:name="com.sec.pcw.device.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.sec.pcw.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.sec.pcw.provider.PCloudContentProvider.READ_CONTENT" />
    <uses-permission android:name="com.sec.permission.preconfig" />
    <uses-permission android:name="com.sec.sCloudDataSync.messages" />
    <uses-permission android:name="com.sec.spp.push.permission.ACCESS_SPP_SERVER" />
    <uses-permission android:name="com.seven.Z7.permission.ACCESS_EVENTS" />
    <uses-permission android:name="com.seven.Z7.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="com.shazam.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.shazam.android.preloadinfo.provider.ACCESS_DATA" />
    <uses-permission android:name="com.sprint.internal.permission.SYSTEMPROPERTIES" />
    <uses-permission android:name="com.twitter.android.permission.AUTH_APP" />
    <uses-permission android:name="com.twitter.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.twitter.android.permission.READ_DATA" />
    <uses-permission android:name="com.twitter.android.permission.RESTRICTED" />
    <uses-permission android:name="com.waze.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.wsomacp.permission.PROVIDER" />
    <uses-permission android:name="com.wssyncmldm.permission.PROVIDER" />
    <uses-permission android:name="conv.svc.sec.nearby.MEDIACONTROL" />
    <uses-permission android:name="conv.svc.sec.nearby.MEDIASHARE" />
    <uses-permission android:name="conv.svc.sec.nearby.config.READ" />
    <uses-permission android:name="conv.svc.sec.nearby.config.WRITE" />
    <uses-permission android:name="javax.microedition.gba.USE_GBA_SERVICE" />
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="pioneer.permission.appradio.ADVANCED_APPMODE" />
    <uses-permission android:name="samsung.permission.READ_MIRRORLINK_APP_CONTEXT" />
    
    
    <!-- uses-permission android:name="android.intent.category.MASTER_CLEAR.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.ACCESS_MTP" />
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.ASEC_ACCESS" />
    <uses-permission android:name="android.permission.ASEC_CREATE" />
    <uses-permission android:name="android.permission.ASEC_DESTROY" />
    <uses-permission android:name="android.permission.ASEC_MOUNT_UNMOUNT" />
    <uses-permission android:name="android.permission.BACKUP" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />
    <uses-permission android:name="android.permission.BROADCAST_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.CONFIRM_FULL_BACKUP" />
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />
    <uses-permission android:name="android.permission.CRYPT_KEEPER" />
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.GLOBAL_SEARCH" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_APP_TOKENS" />
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY" />
    <uses-permission android:name="android.permission.MANAGE_USB" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.MODIFY_NETWORK_ACCOUNTING" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOVE_PACKAGE" />
    <uses-permission android:name="android.permission.NET_ADMIN" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.PACKAGE_VERIFICATION_AGENT" />
    <uses-permission android:name="android.permission.PERFORM_CDMA_PROVISIONING" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.READ_NETWORK_USAGE_HISTORY" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECEIVE_EMERGENCY_BROADCAST" />
    <uses-permission android:name="android.permission.REMOVE_TASKS" />
    <uses-permission android:name="android.permission.SEND_SMS_NO_CONFIRMATION" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />
    <uses-permission android:name="android.permission.SET_POINTER_SPEED" />
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />
    <uses-permission android:name="android.permission.SET_SCREEN_COMPATIBILITY" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT" />
    <uses-permission android:name="android.permission.SHUTDOWN" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" /-->
    
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
            android:name="com.mwr.droidhg.agent.services.ClientService"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name="com.mwr.droidhg.agent.services.SessionService"
            android:process=":remote" />
    </application>

</manifest>
