<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mwr.droidhg.agent"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mwr.droidhg.agent.AboutActivity"
            android:label="@string/about_mercury"
            android:parentActivityName="com.mwr.droidhg.agent.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mwr.droidhg.agent.SettingsActivity" />
        </activity>
        <activity
            android:name="com.mwr.droidhg.agent.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.mwr.droidhg.agent"
                    android:scheme="droidhg" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mwr.droidhg.agent.EndpointActivity"
            android:label="@string/title_activity_endpoint" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mwr.droidhg.agent.MainActivity" />
        </activity>
        <activity
            android:name="com.mwr.droidhg.agent.ServerActivity"
            android:label="@string/title_activity_server" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mwr.droidhg.agent.MainActivity" />
        </activity>
        <activity
            android:name="com.mwr.droidhg.agent.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mwr.droidhg.agent.MainActivity" />
        </activity>

        <service
            android:name="com.mwr.droidhg.agent.ClientService"
            android:process=":remote" />
        <service
            android:name="com.mwr.droidhg.agent.ServerService"
            android:process=":remote" />
        <service
            android:name="com.mwr.droidhg.agent.SessionService"
            android:process=":remote" />
    </application>

</manifest>