<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="33"
    android:versionName="3.1.0" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:exported="true" />
        <activity
            android:name=".activities.StartBroadcastActivity"
            android:exported="true" />
        <activity
            android:name=".activities.EndpointActivity"
            android:label="@string/title_activity_endpoint" />
        <activity
            android:name=".activities.EndpointSettingsActivity"
            android:label="@string/endpoint_new" />
        <activity
            android:name=".activities.ServerActivity"
            android:label="@string/title_activity_server" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".helpers.IntentProxyToContentProvider"
            android:exported="true" />

        <activity-alias
            android:name="com.WithSecure.dz.activities.AboutActivity"
            android:label="@string/title_about"
            android:targetActivity=".activities.AboutActivity" />
        <activity-alias
            android:name="com.WithSecure.dz.activities.MainActivity"
            android:targetActivity=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.WithSecure.dz.activities.StartBroadcastActivity"
            android:targetActivity=".activities.StartBroadcastActivity"
            android:exported="true" />
        <activity-alias
            android:name="com.WithSecure.dz.activities.EndpointActivity"
            android:targetActivity=".activities.EndpointActivity"
            android:label="@string/title_activity_endpoint" />
        <activity-alias
            android:name="com.WithSecure.dz.activities.EndpointSettingsActivity"
            android:targetActivity=".activities.EndpointSettingsActivity"
            android:label="@string/endpoint_new" />
        <activity-alias
            android:name="com.WithSecure.dz.activities.ServerActivity"
            android:targetActivity=".activities.ServerActivity"
            android:label="@string/title_activity_server" />
        <activity-alias
            android:name="com.WithSecure.dz.activities.SettingsActivity"
            android:targetActivity=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity-alias
            android:name="com.WithSecure.dz.helpers.IntentProxyToContentProvider"
            android:targetActivity=".helpers.IntentProxyToContentProvider"
            android:exported="true" />

        <activity-alias
            android:name="com.withsecure.dz.activities.AboutActivity"
            android:label="@string/title_about"
            android:targetActivity=".activities.AboutActivity" />
        <activity-alias
            android:name="com.withsecure.dz.activities.MainActivity"
            android:targetActivity=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:exported="true" />
        <activity-alias
            android:name="com.withsecure.dz.activities.StartBroadcastActivity"
            android:targetActivity=".activities.StartBroadcastActivity"
            android:exported="true" />
        <activity-alias
            android:name="com.withsecure.dz.activities.EndpointActivity"
            android:targetActivity=".activities.EndpointActivity"
            android:label="@string/title_activity_endpoint" />
        <activity-alias
            android:name="com.withsecure.dz.activities.EndpointSettingsActivity"
            android:targetActivity=".activities.EndpointSettingsActivity"
            android:label="@string/endpoint_new" />
        <activity-alias
            android:name="com.withsecure.dz.activities.ServerActivity"
            android:targetActivity=".activities.ServerActivity"
            android:label="@string/title_activity_server" />
        <activity-alias
            android:name="com.withsecure.dz.activities.SettingsActivity"
            android:targetActivity=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity-alias
            android:name="com.withsecure.dz.helpers.IntentProxyToContentProvider"
            android:targetActivity=".helpers.IntentProxyToContentProvider"
            android:exported="true" />

        <activity-alias
            android:name="com.mwr.dz.activities.AboutActivity"
            android:label="@string/title_about"
            android:targetActivity=".activities.AboutActivity" />
        <activity-alias
            android:name="com.mwr.dz.activities.MainActivity"
            android:targetActivity=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:exported="true" />
        <activity-alias
            android:name="com.mwr.dz.activities.StartBroadcastActivity"
            android:targetActivity=".activities.StartBroadcastActivity"
            android:exported="true" />
        <activity-alias
            android:name="com.mwr.dz.activities.EndpointActivity"
            android:targetActivity=".activities.EndpointActivity"
            android:label="@string/title_activity_endpoint" />
        <activity-alias
            android:name="com.mwr.dz.activities.EndpointSettingsActivity"
            android:targetActivity=".activities.EndpointSettingsActivity"
            android:label="@string/endpoint_new" />
        <activity-alias
            android:name="com.mwr.dz.activities.ServerActivity"
            android:targetActivity=".activities.ServerActivity"
            android:label="@string/title_activity_server" />
        <activity-alias
            android:name="com.mwr.dz.activities.SettingsActivity"
            android:targetActivity=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity-alias
            android:name="com.mwr.dz.helpers.IntentProxyToContentProvider"
            android:targetActivity=".helpers.IntentProxyToContentProvider"
            android:exported="true" />

        <receiver 
            android:name="com.WithSecure.dz.receivers.StartServiceReceiver"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.mwr.dz.PWN"/>
                <action android:name="com.WithSecure.dz.PWN"/>
                <action android:name="com.withsecure.dz.PWN"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.WithSecure.dz.receivers.StartMainActivityReceiver"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.boops.boops.START"/>
                <action android:name="com.withsecure.dz.START"/>
                <action android:name="com.WithSecure.dz.START"/>
                <action android:name="com.mwr.dz.START"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.WithSecure.dz.services.ClientService"
            android:process=":remote" />
        <service
            android:name="com.WithSecure.dz.services.ServerService"
            android:process=":remote" />
        <service
            android:name="com.WithSecure.dz.services.SessionService"
            android:process=":remote" />

        <provider
            android:authorities=".providers.Provider"
            android:name="com.WithSecure.dz.providers.Provider"
            android:exported="true"
            />
    </application>

</manifest>
